// for Intellij
grant codebase "file:${idea.launcher.bin.path}/../-" {
    permission java.security.AllPermission;
};

// for Maven artifacts
grant codebase "file:${maven.repo.local}/-" {
    permission java.security.AllPermission;
};
grant codebase "file:${user.home}/.m2/repository/-" {
    permission java.security.AllPermission;
};

//
grant codebase "file:target/classes/-" {
    permission java.security.AllPermission;
};

// for the security test case
grant codebase "file:target/test-classes/-" principal javax.management.remote.JMXPrincipal "test" {
    permission org.jboss.beach.askpass.AskpassConfigurationPermission "setCommand";
};

// we want to switch protection domain in the test
grant codebase "file:target/test-classes/-" {
    permission java.lang.RuntimePermission "getProtectionDomain";
    permission java.lang.RuntimePermission "setSecurityManager";
    permission java.security.SecurityPermission "createAccessControlContext";
};
